<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
      
        <h1>There is was an error locating your page!!</h1>
            
        
    <% include partials/scripts.ejs %>
    
  </body>
</html>