<!DOCTYPE html>
<html lang="en">
    <head>
      
      <title>Professional</title>
      <% include partials/head.ejs %>
      
    </head>
    
    <body id="body-prof" onload="move(), move2(), move3(), move4(), move5(), move6(), move7(), move8(), move9(), move10()">
      
      <div class="container" id="bg">
        <nav id="navbar" class="row">
          <ul id="nav-list">
            <li class="nav1" id="name">Dwight LaGrone</li>
            <li class="nav1"><a href="/">Welcome</a></li>
            <li class="nav1"><a href="professional">Professional</a></li>
            <li class="nav1"><a href="projects">Portfolio</a></li>
            <li class="nav1"><a href="mailto:dwightl@ci.sherman.tx.us?Subject=Hello%20again" target="_top">Contact</a></li>
          </ul>
        </nav>
        
        <div id="professional">
          <h1 id="results"></h1>
          <h3 id="prof-title">Software Knowledge</h3>
          <table id="myTable">
            <tr>
              <th id="first"></th>
              <th id="second"></th>
              <th id="third"></th>
            </tr>
            <tr>
              <td class="software-txt">Javascript</td>
              <td class="percent">30%</td>
              <td>
                <div class="bar-container" id="javascript">
                  <div class="myBar" id="myBar"></div>
                </div> 
              </td>
            </tr>
            <tr>
              <td class="software-txt">HTML</td>
              <td class="percent">50%</td>
              <td>
                <div class="bar-container" id="html">
                  <div class="myBar" id="myBar2"></div>
                </div> 
              </td>
            </tr>
            <tr>
              <td class="software-txt">CSS</td>
              <td class="percent">40%</td>
              <td>
                <div class="bar-container" id="html">
                  <div class="myBar" id="myBar3"></div>
                </div> 
              </td>
            </tr>
            <tr>
              <td class="software-txt">Node js</td>
              <td class="percent">50%</td>
              <td>
                <div class="bar-container" id="html">
                  <div class="myBar" id="myBar4"></div>
                </div> 
              </td>
            </tr>
            <tr>
              <td class="software-txt">Express js</td>
              <td class="percent">30%</td>
              <td>
                <div class="bar-container" id="html">
                  <div class="myBar" id="myBar5"></div>
                </div> 
              </td>
            </tr>
            <tr>
              <td class="software-txt">ESRI Software</td>
              <td class="percent">90%</td>
              <td>
                <div class="bar-container" id="html">
                  <div class="myBar" id="myBar6"></div>
                </div> 
              </td>
            </tr>
            <tr>
              <td class="software-txt">GIS Server</td>
              <td class="percent">85%</td>
              <td>
                <div class="bar-container" id="html">
                  <div class="myBar" id="myBar7"></div>
                </div> 
              </td>
            </tr>
            <tr>
              <td class="software-txt">ArcGIS Online</td>
              <td class="percent">90%</td>
              <td>
                <div class="bar-container" id="html">
                  <div class="myBar" id="myBar8"></div>
                </div> 
              </td>
            </tr>
            <tr>
              <td class="software-txt">SQL Server</td>
              <td class="percent">50%</td>
              <td>
                <div class="bar-container" id="html">
                  <div class="myBar" id="myBar9"></div>
                </div> 
              </td>
            </tr>
            <tr>
              <td class="software-txt">Angular js</td>
              <td class="percent">40%</td>
              <td>
                <div class="bar-container" id="angular">
                  <div class="myBar" id="myBar10"></div>
                </div> 
              </td>
            </tr>
          </table>
          
        </div>
     
      </div>
      
      <% include partials/scripts.ejs %>
      
    </body>
    
</html>